{{#each this}}
<li class="list__element">
    <img class="element__photo" src="https://image.tmdb.org/t/p/original{{poster_path}}" data-src="" alt="" />
    <h4 class="element__name">{{original_title}}</h4>
    <div class="element__genres-and-rating">
        <p class="element__genres">{{genres}}</p>
        <p class="element__rating">{{vote_average}}</p>
    </div>
</li>
{{/each}}