.container {
  flex-grow: 1;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .container {
    min-width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    min-width: 768px;
    padding-left: 75px;
    padding-right: 75px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    min-width: 1024px;
    padding-left: 71px;
    padding-right: 71px;
  }
}

.header {
  min-height: 230px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .header {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)
      ),
      url(../images/bg-image-mobile.png);
    min-width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .header {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)
      ),
      url(../images/bg-image-tablet.png);
    min-width: 768px;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)
      ),
      url(../images/bg-image-desktop.png);
    min-width: 1024px;
  }
}

.header-lib {
  min-height: 230px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

@media screen and (max-width: 767px) {
  .header-lib {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)
      ),
      url(../images/bg-library-mobile.png);
    min-width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .header-lib {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)
      ),
      url(../images/bg-library-tablet.png);
    min-width: 768px;
  }
}

@media screen and (min-width: 1024px) {
  .header-lib {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)
      ),
      url(../images/bg-library-desktop.png);
    min-width: 1024px;
  }
}

.header-top {
  padding-top: 41px;
  margin-bottom: 37px;
  display: flex;
  justify-content: space-between;
}

/* logo section */

.logo {
  text-decoration: none;
  display: flex;
}

.logo-image {
  margin-right: 12px;
}

/* @media screen and (min-width: 320px) {
  .logo-image {
    margin-right: 0;
  }
} */

.logo-text {
  font-family: Roboto;
  font-size: 30px;
  color: #ffffff;
  line-height: 35.16px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .logo-text {
    display: none;
  }
}

/* navigation */

.nav-list {
  list-style: none;
  display: flex;
  margin-bottom: 0;
}
.nav-item:not(:last-child) {
  margin-right: 39px;
}

.nav-link {
  color: white;
  font-family: Roboto;
  outline-style: none;
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 14.06px;
}

.is-active::after {
  display: block;
  content: '';
  height: 3px;
  background-color: #ff6b08;
}
@media screen and (min-width: 768px) {
  .header-bottom {
    max-width: 393px;
  }
}

.header-bottom {
  position: relative;
  text-align: center;
  align-items: center;
  margin: 0 auto;
}

.search-field {
  display: block;
  width: 100%;
  height: 30px;
  margin-bottom: 22px;
  background-color: transparent;
  border: none;
  border-bottom: 0.5px solid white;
  caret-color: white;
  color: white;
  outline: none;
}

@media screen and (min-width: 768px) {
  .search-field {
    width: 336px;
  }
}

.search-field::placeholder {
  color: white;
  font-size: 14px;
  line-height: 1.14;
  caret-color: white;
}

.search-icon {
  position: absolute;
  top: 10px;
  right: 0px;
  display: block;
  width: 12px;
  height: 12px;
  background-image: url(../images/search-icon.svg);
}

@media screen and (min-width: 768px) {
  .search-icon {
    top: 10px;
    right: 60px;
  }
}

.button-list {
  display: flex;
  justify-content: center;
}

.btn_header {
  width: 130px;
  height: 44px;
  color: white;
  font-family: Roboto;
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 13px 38px;
  font-size: 12px;
}

.button-item:not(:last-child) {
  margin-right: 15px;
}

.button-list.is-not-visible {
  display: none;
}

button:focus {
  outline: none;
}

.btn_header.accent {
  background-color: #ff6b01;
}

.btn_header:hover {
  color: #212529;
  text-decoration: none;
}

.btn_header.primary-white {
  border: 1px solid #ffffff;
  transition: all 300ms ease-in;
}

.btn_header.primary-white:hover,
.btn_header.primary-white:focus {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}
