.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.body {
  overflow: hidden;
}

.modal-window {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  opacity: 1;
  background-color: #ffffff;
}

@media screen and (max-width: 767px) {
  .modal-window {
    width: 320px;
    height: 1088px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .card-poster {
    width: 280px;
    margin-bottom: 30px;
  }
}

.card-title {
  font-size: 20px;
  line-height: 1.17;
  text-transform: uppercase;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .modal-window {
    display: flex;
    padding-top: 60px;
    padding-right: 75px;
    padding-left: 75px;
    width: 768px;
    height: 574px;
    size: initial;
  }

  .card-poster {
    width: 294px;
    height: 416px;
    margin-right: 30px;
  }

  .card-description {
    margin-bottom: 20px;
  }

  .card-title {
    font-size: 30px;
  }
}

.card-list {
  margin-bottom: 20px;
}

.card-item {
  display: flex;
  flex-direction: row;

  font-size: 12px;
  line-height: 1.33;
}

.card-item:not(:last-child) {
  margin-bottom: 10px;
}

.vote {
  display: inline-block;
  text-align: center;

  border-radius: 5px;
  color: #ffffff;
  background-color: #ff6b01;
  min-width: 36px;
}

.card-details {
  width: 280px;
}

.card-item__about {
  color: #8c8c8c;
  width: 108px;
}

.card-about {
  margin-bottom: 10px;
  text-transform: uppercase;
}

.card-description {
  margin-bottom: 40px;
  font-size: 12px;
  line-height: 1.67;
}

.button {
  width: 130px;
  height: 44px;
  border: 0;
  border-radius: 5px;

  font-size: 12px;
  line-height: 1.67;
  text-transform: uppercase;
}

.button-watched {
  color: #ffffff;
  margin-right: 15px;
  background-color: #ff6b01;
}

.button-queue {
  border: 1px solid #000000;
  background-color: #ffffff;
}

@media screen and (min-width: 1024px) {
  .modal-window {
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-right: 71px;
    padding-left: 71px;
    width: 1024px;
    height: 634px;
  }

  .card-poster {
    width: 426px;
    height: 514px;
    margin-right: 30px;
  }

  .card-item__about {
    color: #8c8c8c;
    width: 162px;
  }

  .card-details {
    width: 426px;
  }
}
