*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.2;
  color: FFFFFF;
  margin: auto;
}

h1,
h2,
h3,
h4,
h5,
p,
ul,
ol,
li {
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}
