    <ul class="main-container__list">
        <li class="list__element">
            <img class="element__photo" src="https://source.unsplash.com/random">
            <h4 class="element__name">Random Name</h4>
            <div class="element__genres-and-rating">
                <p class="element__genres">Random Genres1, Genres2</p>
                <p class="element__rating">10.0</p>
            </div>
        </li><li class="list__element">
            <img class="element__photo" src="https://source.unsplash.com/random">
            <h4 class="element__name">Random Name</h4>
            <div class="element__genres-and-rating">
                <p class="element__genres">Random Genres1, Genres2</p>
                <p class="element__rating">10.0</p>
            </div>
        </li><li class="list__element">
            <img class="element__photo" src="https://source.unsplash.com/random">
            <h4 class="element__name">Random Name</h4>
            <div class="element__genres-and-rating">
                <p class="element__genres">Random Genres1, Genres2</p>
                <p class="element__rating">10.0</p>
            </div>
        </li><li class="list__element">
            <img class="element__photo" src="https://source.unsplash.com/random">
            <h4 class="element__name">Random Name</h4>
            <div class="element__genres-and-rating">
                <p class="element__genres">Random Genres1, Genres2</p>
                <p class="element__rating">10.0</p>
            </div>
        </li><li class="list__element">
            <img class="element__photo" src="https://source.unsplash.com/random">
            <h4 class="element__name">Random Name</h4>
            <div class="element__genres-and-rating">
                <p class="element__genres">Random Genres1, Genres2</p>
                <p class="element__rating">10.0</p>
            </div>
        </li><li class="list__element">
            <img class="element__photo" src="https://source.unsplash.com/random">
            <h4 class="element__name">Random Name</h4>
            <div class="element__genres-and-rating">
                <p class="element__genres">Random Genres1, Genres2</p>
                <p class="element__rating">10.0</p>
            </div>
        </li><li class="list__element">
            <img class="element__photo" src="https://source.unsplash.com/random">
            <h4 class="element__name">Random Name</h4>
            <div class="element__genres-and-rating">
                <p class="element__genres">Random Genres1, Genres2</p>
                <p class="element__rating">10.0</p>
            </div>
        </li><li class="list__element">
            <img class="element__photo" src="https://source.unsplash.com/random">
            <h4 class="element__name">Random Name</h4>
            <div class="element__genres-and-rating">
                <p class="element__genres">Random Genres1, Genres2</p>
                <p class="element__rating">10.0</p>
            </div>
        </li><li class="list__element">
            <img class="element__photo" src="https://source.unsplash.com/random">
            <h4 class="element__name">Random Name</h4>
            <div class="element__genres-and-rating">
                <p class="element__genres">Random Genres1, Genres2</p>
                <p class="element__rating">10.0</p>
            </div>
        </li>
    </ul>
    <div class="switcher">

    </div>